html, body {
	height: 100%;
}

#math_box {
	margin: 0 auto;
	width: 100%;
	background-color: #eff0f1;
	margin-top: 16%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

#question {
	font-size: 30px;
}

#answer {
	font-size: 30px;
}

#top_box {
	padding: 10px 20px;
}

#timer {
	float: left;
}

#score {
	float: right;
	display: block;
}

#timer, #score {
	font-size: 20px;
}

.bar {
	fill: steelblue;
}

.bar:hover {
	fill: orange;
}

#chart {
	padding-top: 50px;
}