<!doctype html>
<html>
	<head>
		<title>math</title>	
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='js/game.js') }}"></script>
	</head>

	<body>
		<div id="top_box">
			<span id="timer">Seconds Left: 120</span>
			<span id="score">Score: 0</span>
		</div>
		<div id="math_box">
			<div id="math">
				<span id="question"></span>
				<input id="answer" size="10">
			</div>
			<div id="results" style="display:none">
				<h4 id="final_score"></h4>
				<p id="percentile"></p>
				<form action="/game" method="get">
					<button type="submit" class="btn btn-primary">Try Again</button>
	      		</form>
      		</div>
      	</div>
      	<div id="results_box">
      	</div>
	</body>
</html>